:root {
    --primary-color: #FF6B6B; /* główny kolor z projektu */
    --secondary-color: #FFD93D; /* dodatkowy kolor z projektu */
    /* Dodaj więcej kolorów zgodnie z paletą projektu */
}

body {
    font-family: 'Arial', sans-serif; /* Lub inna czcionka zgodnie z projektem */
    color: var(--primary-color);
}

nav {
    /* Stylizacja nawigacji */
}

header {
    /* Stylizacja nagłówka */
}

main {
    /* Stylizacja głównej zawartości */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FF6B6B; /* główny kolor z projektu */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.login-form .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-color); /* dodatkowy kolor z projektu */
    color: white;
    cursor: pointer;
}

.login-form button:hover {
    background-color: darken(var(--secondary-color), 10%);
}



footer {
    /* Stylizacja stopki */
}